.dropdown-menu #dd-item {
    color: grey;
}
.dropdown-menu #dd-item:hover {
    color: black;
}
#nv-link:hover {
    border-bottom: 2px black solid;
}
.nav-anime {
    border-bottom: 2px black solid;
}
.carousel-item img {
    width: 100%;
    height: 450px;
}

.dropdown-menu #sign-in, .dropdown-menu #sign-up {
    width: 200px;
}
#dropdown-user {
    padding: 5px;
    left: -100px;
    top: 60%;
}
#dd-toggle::after {
    display: none !important;
}