.color-item{
    width: 28px !important;
    height: 28px;
    margin: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
}

.color-item-back{
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.color-dd-container{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    width: 435px;
    padding-top: 20px;

}

.product-list-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    
}

.product-list-item{
    width: 27%;
    margin-right: 6%;
}



.product-img{
    display: inline-block;
    position: relative;
    min-height: 130px;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 170px;
}

.product-img img{
    /* width: 27%; */
    width: 100%;
    height: 170px;
}

.product-variation{
    padding: 0px;
}

.product-variation-list{
    margin: 3px 2px;
    padding: 4px;
    width: 28px;
    height: 28px;
    display: inline-block; 
    border-radius: 50%;
    border: 0.02rem solid #fff;
    box-sizing: border-box;
    border-width: 1px;
}

.product-variation-list-item{
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    vertical-align: middle;
    cursor: pointer;
}

.icon-ht{
    width: 10%;
    height: auto;
    margin-right: 6px;
}

.product-info p{
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    margin-bottom: 0;
}

.icon-heart{
    width: 18px;
    height: auto;
    cursor: pointer;
}

.checked{ color:orange}

.empty{ color: lightgray; }

.h-review-p{
    font-size: 14px;
    font-weight: 400;
    color: #aaa;
    line-height: 9px;
}

.h-product-price{
    font-size: 20px;
    font-weight: 700;
    color: #454545;
    line-height: 12px;
    text-align: right;
}

.pd-pic-div{
    height: 500px;
    position: relative;
    border: 1px solid lightgray
}

.pd-product-banner{
    height: 510px;
    overflow: hidden;
    position: relative;
}

.pd-product-control-item{
    width: 55px;
    height: 55px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: #999;
    font-size: 12px;
    border: 1px solid #e4e4e4;
}

.pd-img{
    width: 80%;
    height: 100%;
}



.pd-product-info p{
    font-size: 18px;
    font-weight: 500;
    color: #aa9;
    margin-bottom: 0;
}

.pd-product-price{
    font-size: 36px;
}

.pd-size-title{
    font-size: 16px;
    margin-bottom: 10px;
}

.pd-product-size-icon{
    width: 30px;
    height: 30px;
    background: #333333;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;    
}

.pd-color-text{
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 0;
}

.pd-color-list{
    display: inline-block;
    vertical-align: middle;
    margin: 2px 2px;
    padding: 4px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.pd-select-btn-container{
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 40px;
}

.pd-select-btn{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #26ABFF;
    color: #fff;
    border: none;
    outline: 0;
    font-size: 18px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 4px;
}

.pd-spec-container{
    padding : 20px 0px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-weight: 650;
}

.pd-spec-details{
    padding: 20px 0px;
    color: #333;
    font-size: 14px;
}

.pd-product-list-title{
    width: 100%;
    /* text-align: left; */
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Roboto';
}

.pd-product-list-item{
    width: 33.33%;
    padding: 0px 30px;
}

.imgBox{ 
    width: 100%;
    display: inline-block;
    position: relative;
}

.pd-rating-body{
    background-color: #F2F2F2;

}

.pd-rating-body p{
    font-size: 24px;
}

.pd-rating-body .fa-star{
    font-size: 24px;
    padding: 0px 4px;
}

.dropdown-menu #dd-item, #nv-link {
    color: grey;
}
.dropdown-menu.show {
    display: inline-table !important;
    
}

.dropdown-menu #dd-item:hover {
    color: black;
}
#nv-link:hover  {
    border-bottom: 2px black solid !important;
}
.carousel-item img {
    width: 100%;
    height: 450px;
}
.dropdown-menu {
    top: 40px !important;
}
.dropdown-menu #sign-in, .dropdown-menu #sign-up {
    width: 200px;
}
#dropdown-user {
    padding: 5px;
    left: -100px;
    top: 60%;
}
#dropdown-user, #dropdown-currency {
    top: 30px !important;
}
#dd-toggle {
    cursor: pointer;
}
#dd-toggle::after {
    display: none !important;
}
#search-btn {
    border: 1px solid #ced4da;
    border-width: 0 0 1px 0;
}
#search-bar {
    border-bottom: 1px solid #ced4da;
    border-width: 0 0 1px 0;
    width: 50px !important;
    transition: width .5s !important;
}
#search-bar:focus {
    width: 150px !important;
}
#nv-pill .nav-link {
    background-color: transparent;
    color: black;
    border-radius: 0px;
}
#nv-pill .nav-link.active{
    color: #007bff;
    border-bottom: 2px solid #007bff;
}
#dropdown-currency li {
    cursor: pointer;
}
#dropdown-currency {
    padding: 0px;
}
#dropdown-currency li a {
    text-decoration: none;
    color: grey;
}
#dropdown-currency li a:hover {
    color: black;
}
#dropdown-currency li:hover {
    background-color: #26ABFF;
}
#filter_nav {
    background-color: #eef !important;
}
.dropdown-toggle:hover  {
    border-bottom: 2px solid black !important ;
}

.pc-lensCtr-container{
    color: rgb(38, 171, 255);
    cursor: pointer;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 20px 0px 40px;
}

.pc-lens-ctr-item-contaner{
    display: flex;
}

.pc-lens-ctr-item-contaner > div{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    height: 20px;
    font-size: 14px;
    color: rgb(153, 153, 153);
    padding: 0px 10px;
    background: rgb(255, 255, 255);
}

.pc-lens-ctr-line{
    display: block;
    width: 100px;
    height: 1px;
    background: rgb(153, 153, 153);
}

.pc-lens-bar-container{
    position: relative;
    padding: 28px 20px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-image: initial;
    background: rgb(255, 255, 255);
}

.pc-lens-bar-title-line{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.pc-lens-bar-title{
    font-size: 20px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-bottom: 0px;
}

.pc-lens-bar-price-item{
    font-size: 13px;
    line-height: 13px;
    color: rgb(51, 51, 51);
    margin-bottom: 1em;
}

.pc-lens-bar-price{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 1em;
    padding: 10px 0px 3px;
}

.pc-lens-bar-total{
    font-weight: 700;
}

.pc-lens-bar-add-cart{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 10px;
    padding: 12.5px 0px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: rgb(38, 171, 255);
    border-radius: 4px;
}
.pc-lens-change-frame{
    text-align: center;
    margin-bottom: 30px;
}

.pc-lens-change-frame > a{
    color: gray;
}

.pc-lens-bar-back-pre{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 60px;
    color: rgb(153, 153, 153);
    font-size: 16px;
    margin: 15px 0px;
}

.pres-lens-foot{
    font-size: 14px;
}

.ls-type-box{
    margin-left: 20px;
    /* padding: 16px; */
    height: auto;
    min-height: 260px;
    width: 100%;
}

.ls-type-box:hover{
    border: 2px solid #01a280  ;
    cursor: pointer;
}

.ls-type-box-focus{
    border: 3px solid #01a280  !important;
    cursor: pointer;
}

.ls-type-box-focus .ls-select{
    background-color:#01a280;
}

.ls-select{
    background: #ccc;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    padding: 2px 0;
}
/* 
.ls-select-focus{
    background-color: #01a280;
} */
.ls-border{
    border: 1px solid grey ;
}

.lens-prescription{
    display: none;
}

.pc-lens-bar-item-btn{
    cursor: pointer;
}

.ls-title{
    margin: 10px 16px;
    text-align: center;
    font-size: 1.4em;
    color: #333;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.ls-subtitle{
    margin: 10px 16px;
    font-size: .95em;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    padding: 3px 0 0;
}

.was-validated .form-control:invalid {
    padding-right: 0px !important;
}


#main {
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1577803645773-f96470509666?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-size: 100% 650px;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: -2px 8px 15px black;
    padding: 20px;
    padding-top: 50px
}

#head {
    text-align: center;
    color: black
}

#inner {
    padding: 0 10px
}

#content h3 {
    color: white;
    text-align: center
}

#input input {
    background: transparent;
    padding: 10px;
    margin-bottom: 5px;
    width: 92%;
    border: 1px solid grey;
    color: white;
    position: relative;
}

::placeholder {
    color: white
}

#input i {
    color: white;
    position: absolute;
    right: 66px;
    margin-top: 10px
}

#line a {
    color: white;
    font-size: 14px;
    display: inline-block;
}

#btn {
    padding: 10px 30px;
    position: relative;
    font-weight: bold;
    margin-left: 50%;
    border-radius: 5px;
    transform: translate(-50%, 80%);
    margin-bottom: 10px;
}

#btn:hover {
    background: black;
    color: white;
}

#group > div{
    display: none;
}
#group div.current{
    display: block;
}

.act{ 
    display: flex !important;
}

.ls-image{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 120px;
    height: 90px;
    overflow: hidden;
}

.img-15{
    background: transparent no-repeat center top;
    background-size: 100% auto;
}

.ls-promo-price{
    background: #f8f8f8;
    line-height: 1.2em;
    height: 3em;

    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.decoration-strike{
    text-decoration: line-through !important;
}
.color-gray {
    color: #888 !important;
}
.weight-normal {
    font-weight: 400 !important;
}
.weight-bold {
    font-weight: 700 !important;
}
.display-inline-block {
    display: inline-block !important;
}

.ls-compare{
    font-size: 12px;
    font-style: italic;
    color: #666;
}

.ls-ul-select{
    padding-left: .75em;
    margin: .25em 0;
    font-size: .9em;
    line-height: 1.5em;
}

.table-minimal-small td {
    padding: 4px;
    vertical-align: middle;
    /* background-color: #fff; */
    text-align: left;
    font-size: 13px;
}
.table-minimal-small {
    margin: 15px 0;
    width: 100%;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.stacktable {
    /* border-collapse: collapse; */
}
.table-minimal-small th {
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 700;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table-minimal-small td {
    padding: 4px;
    vertical-align: middle;
    /* background-color: #fff; */
    text-align: left;
    font-size: 13px;
    
}
/* .width-10 {
    width: 10% !important;
} */
.weight-bold {
    font-weight: 700 !important;
}
.align-right {
    text-align: right !important;
}
.form-container .select {
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    /* width: 300px; */
}
.width-100 {
    width: 100% !important;
}

.width-150{
    width:150px;
}

.form-container .select > select {
    background: #fff;
    margin: 0;
    border: 0;
    width: 140px;
    min-width: 85px;
    height: 34px;
    padding: 5px 8px;
    color: #666;
    position: relative;
    text-shadow: 0 1px white;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    text-indent: .01px;
    text-overflow: clip;
    vertical-align: top;
    cursor: pointer;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}